<div class="message meeting">
	<div class="message-header">
		<% user = @meeting.other_user(current_user.id) %>
		<div class="message-name bold">
			<%= user.name %>
		</div>
		<div class="message-tagline">
			<%= user.tagline %>
		</div>
		<%= image_tag user.profile_pic_url, :class => "message-pic" %>
	</div>
	<div class="meeting-request-details">
		<span class="bold">Meeting Request for:</span><br>
		<%= @meeting.date %>
	</div>
	<div class="message-body meeting-message">
		<div class="rate-form">
			<div class="rating-text">Please rate the helpfulness of your meeting with <%= user.name %></div>
			<div class="star-rating-container">
				<% (1..5).each do |n|  %>
					<%= image_tag 'stargreen.svg', :class => "star svg", id: n %> 
				<% end %>
			</div>

			<%= form_tag user_rate_path(user), remote: true, id: "rating-form" do %>
				<%= hidden_field_tag :rating, 5, id: "rating-value" %>
				<%= hidden_field_tag :meeting_id, @meeting.id  %>
				<%= submit_tag "Submit", id: "submit-rating" %>
			<% end %>
		</div>
	</div>

</div>

<script>
  $('img.svg').each(function(){
    var $img = $(this);
    var imgID = $img.attr('id');
    var imgClass = $img.attr('class');
    var imgURL = $img.attr('src');

    $.get(imgURL, function(data) {
        // Get the SVG tag, ignore the rest
        var $svg = $(data).find('svg');

        // Add replaced image's ID to the new SVG
        if(typeof imgID !== 'undefined') {
            $svg = $svg.attr('id', imgID);
        }
        // Add replaced image's classes to the new SVG
        if(typeof imgClass !== 'undefined') {
            $svg = $svg.attr('class', imgClass+' replaced-svg');
        }
        // Remove any invalid XML tags as per http://validator.w3.org
        $svg = $svg.removeAttr('xmlns:a');
        // Replace image with new SVG
        $img.replaceWith($svg);
    }, 'xml');
  });
</script>
