<% user = @comment.user %>
<div class="comment">
	<%= image_tag user.profile_pic_url, :class => "status-bar-pic" %>
	<div class="result-info">
			<div class="result-name">
				<%= user.name %>
			</div>
			<div class="result-tagline">
				<%= user.tagline %>
			</div>
	</div>
	<div class="status-body linkify">
		<%= @comment.body %>
	</div>
	<% if @comment.user_id == current_user.id %>
		<div class="status-actions">
			<div class="delete-text">
				<%= link_to comment_path(@comment), method: 'delete', :class => "comment-delete-link", remote: true do %>
					Delete
				<% end %>
			</div>
		</div>
	<% end %>
</div>