<%= render partial: 'users/top_bar' %>
<div id="green-bar">
	<div id="green-bar-content">
		<div class="bar-section active">
			Messages
		</div>
		<div class="bar-section">
			Meetings
		</div>
		<div class="bar-section">
			Trash
		</div>
	</div>
</div>
<div id="content-left-small">
	<div id="conversation-title">CONVERSATIONS</div>
	<div id="conversations">
		<% @conversations.each do |convo| %>
			<% user = convo.other_user(current_user.id) %>
			<%= link_to conversation_path(convo), remote: true, :class => "convo-link" do %>
				<div class="conversation">
					<div class="border-hider"></div>
					<%= image_tag "conversearrow.svg", :class => "convoarrow-svg" %>
					<%= image_tag user.profile_pic_url, :class => "convo-pic" %>
					<div class="convo-details">
						<div class="convo-name"><%= user.name %></div>
						<div class="convo-date"><%= convo.last_message.date %></div>
						<div class="convo-subject"><%= convo.last_message.subject %></div>
						<div class="convo-last-message"><%= convo.last_message.short_body %></div>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
</div>

<div id="content-right-large">

</div>