<% @conversation.ordered_messages.each do |message| %>
	<div class="message <%= 'first' if @counter == 0 %>">
		<div class="message-header">
			<% user = @conversation.other_user(current_user.id) %>
			<div class="message-name">
				<span class="bold"><%= user.name %></span> on <%= message.full_date %>
			</div>
			<% if @counter == 0 %>
				<div class="message-tagline">
					<%= user.tagline %>
				</div>
				<%= image_tag user.profile_pic_url, :class => "message-pic" %>
				<div class="message-actions">
					<%= image_tag 'reply.svg', :class => "reply-svg message-svg", id: @conversation.id %>
					<%= link_to trash_path(@conversation), :class => "trash-link", data: {confirm: "This will send the entire conversation to the trash. Proceed?"}, remote: true do %>
						<%= image_tag 'trash.svg', :class => "trash-svg message-svg",id: @conversation.id %>
					<% end %>
				</div>

			<% end %>
		</div>
		<div class="message-body">
			<%= message.body %>
		</div>
	</div>
	<% @counter += 1 %>
<% end %>