<div class="top-nav-content hidden mobile">
		<%= link_to statuses_path, :class => 'tab', id: "status-tab" do %>
			<div class="mob-nav search side-icon">
				<%= image_tag "fledgg.svg", :class => "nav-icon svg" %> 
				<div class="icon-label main">Activity</div>
			</div>
		<% end %>
		
		<%= link_to conversations_path, "data-no-turbolink" => true, :class => 'tab', id: "messages" do %>
			<div class="mob-nav messages side-icon">
				<%= image_tag "messagesdarkgreen.svg", :class => "nav-icon svg" %>
				<div class="icon-label main">Messages</div>
				<% if current_user.message_count + current_user.meeting_count > 0 %>
					<div class="counter">
						<%= current_user.message_count + current_user.meeting_count%>
					</div>
				<% end %>
			</div>
		<% end %>

		<%= link_to user_path(current_user), :class => 'tab' do%>
			<div class="mob-nav side-icon " >
				<%= image_tag current_user.profile_pic_url, :class => "profile-icon nav-icon svg" %>
				<div class="icon-label main">Profile</div>
			</div>
		<% end %>

		<%= link_to logout_path, :class => 'tab' do%>
			<div class="mob-nav side-icon " >
				<%= image_tag "logout.svg", :class => "nav-icon svg" %>
				<div class="icon-label main">Logout</div>
			</div>
		<% end %>

		<%= link_to settings_path, :class => 'tab', id: "settings" do%>
			<div class="mob-nav settings side-icon" id="mob-nav-settings" >
				<%= image_tag "Settings.svg", :class => "nav-icon svg" %>
				<div class="icon-label main">User Settings</div>
			</div>
		<% end %>
</div>

<script>
  $('img.svg').each(function(){
    var $img = $(this);
    var imgID = $img.attr('id');
    var imgClass = $img.attr('class');
    var imgURL = $img.attr('src');

    $.get(imgURL, function(data) {
        // Get the SVG tag, ignore the rest
        var $svg = $(data).find('svg');
        // Add replaced image's ID to the new SVG
        if(typeof imgID !== 'undefined') {
            $svg = $svg.attr('id', imgID);
        }
        // Add replaced image's classes to the new SVG
        if(typeof imgClass !== 'undefined') {
            $svg = $svg.attr('class', imgClass+' replaced-svg');
        }
        // Remove any invalid XML tags as per http://validator.w3.org
        $svg = $svg.removeAttr('xmlns:a');
        // Replace image with new SVG
        $img.replaceWith($svg);
    }, 'xml');
  });
</script>

