<div class="onboarding-bar">
	<div class="bar-content">
		<div class="onboarding-header">Looking for Mentorship?</div>
		<div class="onboarding-text">
			Let us know what you need help with. We'll be able to better find people who can help when you search by name.
		</div>
		<%= link_to onboarding_availability_path do %>
			<div class="next-button">
				Skip
			</div>
		<% end %>
	</div>
</div>

<div id="profile-content" class="onboarding skills">
	<div id="content-left">
		<div class="field-row">
			<%= form_tag needed_skills_path, id: "needed-skill-form", remote: true do %>
				<%= text_field_tag :needed_skill_name, nil, :class => "skill-name input-row", placeholder: "Type any areas you need help with, and press enter to add" %>
			<% end %>
		</div>
		<div class="field-row">
			or you can choose from the list below and click to add
		</div>
		<div class="field-row">
			<div class="skill-box input-row">
				<% @skills.each do |skill| %>
					<div class="skill-input"><%= skill.name %></div>
				<% end %>
			</div>
		</div>
		<div class="field-header">
			Looking for help with
		</div>


		<div class="field-row" id="skill-row">

		</div>
		<div class="field-row">
			<%= link_to onboarding_availability_path do %>
				<div class="mobile-next">
					Skip
				</div>
			<% end %>
		</div>
	</div>

</div>