<%= render partial: 'top_bar' %>
<div id="green-bar">
	<div id="results-text"><%= @users.length %> results for <%= @searched_terms %></div>
</div>
<div id="content" class="results-section">

	<div id="content-left" class="results">
		<% @users.each do |user| %>
	 		<div class="result" id="<%= "u-#{user.id}"%>">
	 			<%= link_to user_path(user) do %>
		 			<%= image_tag user.profile_pic_url, :class => "result-pic" %>
		 			<div class="result-info">
		 				<div class="result-name">
		 					<%= user.name %>
		 				</div>
		 				<div class="result-tagline">
		 					<%= user.tagline %>
		 				</div>
		 			</div>
		 		<% end %>
	 			<div class="result-star-container">
	 				<% if user.rate_count > 3 %>
						<% user.rating.times do %>
							<%= image_tag 'stargreen.svg', :class => "result-star" %> 
						<% end %>
						<% (5 - user.rating).times do %>
							<%= image_tag 'stargray.svg', :class => "result-star" %> 
						<% end %>
					<% else %>
						<% 5.times do %>
							<%= image_tag 'stargray.svg', :class => "result-star" %> 
					<% end %>
			<% end %>
	 			</div>

		 		<div class="result-actions-container">
		 			<%= image_tag "downsearch.svg", :class => "result-svg" %>
		 			<div class="result-actions">
		 				<% if user.followed_by current_user %>
							<div class="result-action follow-action">
								FOLLOWED
							</div>
						<% else %>
							<%= link_to follow_path(user), :class => "follow-link", remote: true do %>
							<div class="result-action follow">
								+ FOLLOW
							</div>
							<% end %>
						<% end %>
		 				<%= link_to conversations_path(send_to: user.id) do %>
			 				<div class="result-action message-action">
			 					MESSAGE
			 				</div>
			 			<% end %>
		 			</div>
	 			</div>
	 			<div class="result-meeting-request meeting-request" id="<%= user.id %>">
	 				REQUEST MEETING
	 			</div>
	 			
	 		</div>
	 	<% end %>
	</div>

	<div id="content-right" class="result-details">
	</div>
</div>

<%= render partial: "meetings/meetings_modal.html.erb", locals: {meeting: @meeting, user: current_user} %>
