<%= render partial: 'top_bar' %>
<div id="profile-content">
	<div id="content-left">
		<div id="profile-cover">
			<%= image_tag @user.profile_pic_url, :class => "profile-main-pic" %>
			<div class="profile-text-box">
				<div id="name" class="profile-text"><%= @user.name %></div>
				<div id="tagline" class="profile-text"><%= @user.tagline %></div>
				<div id="location" class="profile-text"><%= @user.location %></div>
			</div>
		</div>
		<div class="field-header">
			Bio
		</div>
		<div class="field-row">
			<%= @user.bio %> 
		</div>
		<div class="field-header">
			Info
		</div>
		<div class="field-row">
			<%= @user.info %> 
		</div>
		<div class="field-row misc">
			<div class="misc-field">
				<div class="field-label">Birthday</div>
				<div class="field-value"><%= @user.birthday %></div>
			</div>
			<div class="misc-field">
				<div class="field-label">Interests</div>
				<div class="field-value"><%= @user.interests %></div>
			</div>
			<div class="misc-field">
				<div class="field-label">Star Sign</div>
				<div class="field-value"><%= @user.star_sign %></div>
			</div>
			<div class="misc-field">
				<div class="field-label">Personality Type</div>
				<div class="field-value"><%= @user.personality %></div>
			</div>
			<div class="misc-field">
				<div class="field-label">Favorite Book</div>
				<div class="field-value"><%= @user.favorite_book %></div>
			</div>
			<div class="misc-field">
				<div class="field-label">Favorite Book</div>
				<div class="field-value"><%= @user.favorite_movie %></div>
			</div>
			<div class="misc-field">
				<div class="field-label">Education</div>
				<div class="field-value"><%= @user.education %></div>
			</div>
		</div>

	</div>
	<div id="content-right">
		<div id="helpfulness-label">HELPFULNESS RATING</div>
		<div id="star-container">
			<% @user.rating.times do %>
				<%= image_tag 'stargreen.svg', :class => "star" %> 
			<% end %>
			<% (5 - @user.rating).times do %>
				<%= image_tag 'stargray.svg', :class => "star" %> 
			<% end %>
		</div>

		<% if @user.followed_by current_user %>
			<div class="user-action">
				FOLLOWED
			</div>
		<% else %>
			<%= link_to follow_path(@user), :class => "follow-link", remote: true do %>
			<div class="user-action">
				+ FOLLOW
			</div>
			<% end %>
		<% end %>
		
		<%= link_to conversations_path(send_to: @user.id ) do %>
			<div class="user-action">
				MESSAGE
			</div>
		<% end %>


		<div id="meetings-count-box" class="meeting-request">
			Request a Meeting
		</div>
		<div class="field-header">
			Expertise
		</div>
		<div class="field-row">
			<% @skills.each do |skill| %>
				<div class="skill have" id="<%= "s-#{skill.id}" %>"><%= skill.name %>,&nbsp</div>
			<% end %>
		</div>
		<div class="field-header">
			Looking for help with
		</div>
		<div class="field-row">
			<% @needed_skills.each do |skill| %>
				<div class="skill needed" id="<%= "s-#{skill.id}" %>"><%= skill.name %>,&nbsp</div>
			<% end %>
		</div>
		<div class="field-header availability">
			Availability
		</div>
		
		<div class="field-row availability">
			<% ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"].each do |day| %>
				<div class="time-block <%= 'hidden' if !@user.send(day[0..2].downcase.to_sym) %>">
					<div class="day"><%= day %></div>
					<div class="time-value"><%= @user.send(day[0..2].downcase.to_sym) %></div>
				</div>
			<% end %>
		</div>
	</div>
</div>

<%= render partial: "meetings/meetings_modal.html.erb", locals: {user: @user, meeting: @meeting} %>
