<%= render partial: 'top_bar' %>
<div id="profile-content">
	<div id="content-left">
		<div id="profile-cover">
			<%= image_tag @user.profile_pic_url, :class => "profile-main-pic" %>
			<div class="profile-text-box">
				<div id="name" class="profile-text"><%= @user.name %></div>
				<div id="tagline" class="profile-text"><%= best_in_place @user, :tagline, type: :input, place_holder: "Click to edit!" %> </div>
				<div id="location" class="profile-text"><%= best_in_place @user, :location, type: :input, place_holder: "Click to edit!" %> </div>
			</div>
		</div>
		<div class="field-header">
			Bio
		</div>
		<div class="field-row">
			<%= best_in_place @user, :bio, type: :input, place_holder: "Click to edit!" %> 
		</div>
		<div class="field-header">
			Info
		</div>
		<div class="field-row">
			<%= best_in_place @user, :info, type: :input, place_holder: "Click to edit!" %>  
		</div>
		<div class="field-row misc">
			<div class="misc-field">
				<div class="field-label">Birthday</div>
				<div class="field-value"><%= best_in_place @user, :birthday, type: :input, place_holder: "Click to edit!" %> </div>
			</div>
			<div class="misc-field">
				<div class="field-label">Interests</div>
				<div class="field-value"><%= best_in_place @user, :interests, type: :input, place_holder: "Click to edit!" %> </div>
			</div>
			<div class="misc-field">
				<div class="field-label">Star Sign</div>
				<div class="field-value"><%= best_in_place @user, :star_sign, type: :input, place_holder: "Click to edit!" %> </div>
			</div>
			<div class="misc-field">
				<div class="field-label">Personality Type</div>
				<div class="field-value"><%= best_in_place @user, :personality, type: :input, place_holder: "Click to edit!" %></div>
			</div>
			<div class="misc-field">
				<div class="field-label">Favorite Book</div>
				<div class="field-value"><%= best_in_place @user, :favorite_book, type: :input, place_holder: "Click to edit!" %></div>
			</div>
			<div class="misc-field">
				<div class="field-label">Favorite Book</div>
				<div class="field-value"><%= best_in_place @user, :favorite_movie, type: :input, place_holder: "Click to edit!" %></div>
			</div>
			<div class="misc-field">
				<div class="field-label">Education</div>
				<div class="field-value"><%= best_in_place @user, :favorite_movie, type: :input, place_holder: "Click to edit!" %></div>
			</div>
		</div>

	</div>
	<div id="content-right">
		<div id="helpfulness-label">HELPFULNESS RATING</div>
		<div id="star-container">
			<% @user.rating.times do %>
				<%= image_tag 'stargreen.svg', :class => "star" %> 
			<% end %>
			<% (5 - @user.rating).times do %>
				<%= image_tag 'stargray.svg', :class => "star" %> 
			<% end %>
		</div>
		<div id="meetings-count-box">
			4 Upcoming Meetings
		</div>
		<div class="field-header">
			Expertise <%= image_tag 'edit.svg', :class => "edit-svg" %>
		</div>
		<div class="field-row hidden">
			<%= form_tag skills_path, id: "skill-form", remote: true do %>
				<%= text_field_tag :skill_name, nil, :class => "skill-name", placeholder: "Type a skill, press enter to add" %>
			<% end %>
		</div>
		<div class="field-row">
			<% @skills.each do |skill| %>
				<div class="skill have" id="<%= "s-#{skill.id}" %>"><%= skill.name %>,&nbsp</div>
			<% end %>
		</div>

		<div class="field-header">
			Looking for help with
			<%= image_tag 'edit.svg', :class => "edit-svg" %>
		</div>
		<div class="field-row hidden">
			<%= form_tag needed_skills_path, id: "needed-skill-form", remote: true do %>
				<%= text_field_tag :needed_skill_name, nil, :class => "skill-name", placeholder: "Type a skill, press enter to add" %>
			<% end %>
		</div>
		<div class="field-row">
			<% @needed_skills.each do |skill| %>
				<div class="skill needed" id="<%= "s-#{skill.id}" %>"><%= skill.name %>,&nbsp</div>
			<% end %>
		</div>
		<div class="field-header availability">
			Availability
		</div>
		
		<div class="field-row availability">
			<% ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"].each do |day| %>
				<div class="time-block">
					<div class="day"><%= day %></div>
					<div class="time-value">
						<%= best_in_place @user, day[0..2].downcase.to_sym, type: :input, place_holder: "Click to edit!" %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>

<script>
$(document).ready(function(){
	$('.best_in_place').best_in_place()
})
</script>


