<%= render partial: 'top_bar' %>
<div id="profile-content">
	<div id="content-left">
		<div id="profile-cover">
			<%= image_tag @user.profile_pic_url, :class => "profile-main-pic" %>
			<div class="profile-text-box">
				<div id="name" class="profile-text"><%= @user.name %></div>
				<div id="tagline" class="profile-text"><%= @user.tagline || "User has not added anything here yet" %></div>
				<div id="location" class="profile-text"><%= @user.location || "User has not added anything here yet" %></div>
			</div>
		</div>
		
		<div id="helpfulness-label">HELPFULNESS RATING</div>
		<div id="star-container">
			<% if @user.rate_count > 3 %>
				<% @user.rating.times do %>
					<%= image_tag 'stargreen.svg', :class => "star" %> 
				<% end %>
				<% (5 - @user.rating).times do %>
					<%= image_tag 'stargray.svg', :class => "star" %> 
				<% end %>
			<% else %>
				<% 5.times do %>
					<%= image_tag 'stargray.svg', :class => "star" %> 
				<% end %>
			<% end %>
			</div>

		<% if @user.followed_by current_user %>
			<%= link_to follow_path(@user), :class => "follow-link unfollow", remote: true do %>
				<div class="user-action">UNFOLLOW</div>
			<% end %>
		<% else %>
			<%= link_to follow_path(@user), :class => "follow-link follow", remote: true do %>
			<div class="user-action">+ FOLLOW</div>
			<% end %>
		<% end %>
		
		<%= link_to conversations_path(send_to: @user.id ) do %>
			<div class="user-action">
				MESSAGE
			</div>
		<% end %>


		<div id="meetings-count-box" class="meeting-request">
			Request a Meeting
		</div>
		<div class="field-header availability">
			Availability
		</div>
		
		<div class="field-row availability">
			<% ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"].each do |day| %>
				<div class="time-block">
					<div class="day"><%= day %></div>
					<div class="time-value"><%= @user.send(day[0..2].downcase.to_sym) || "Unknown" %></div>
				</div>
			<% end %>
		</div>
		<div class="field-header">
			Expertise
		</div>
		<div class="field-row">
			<% @skills.each do |skill| %>
				<div class="skill have" id="<%= "s-#{skill.id}" %>"><%= skill.name %>,&nbsp</div>
			<% end %>
		</div>
		<div class="field-header">
			Looking for help with
		</div>
		<div class="field-row">
			<% @needed_skills.each do |skill| %>
				<div class="skill needed" id="<%= "s-#{skill.id}" %>"><%= skill.name %>,&nbsp</div>
			<% end %>
		</div>
		<div class="field-header">
			Bio
		</div>
		<div class="field-row">
			<%= @user.bio || "User has not added anything here yet" %> 
		</div>
		<div class="field-header">
			Info
		</div>
		<div class="field-row linkify">
			<%= @user.info || "User has not added anything here yet" %> 
		</div>
		<div class="field-row misc">
			<div class="misc-field">
				<div class="field-label">Birthday</div>
				<div class="field-value"><%= @user.birthday || "Not added" %></div>
			</div>
			<div class="misc-field">
				<div class="field-label">Interests</div>
				<div class="field-value"><%= @user.interests  || "Not added" %></div>
			</div>
			<div class="misc-field">
				<div class="field-label">Star Sign</div>
				<div class="field-value"><%= @user.star_sign || "Not added" %></div>
			</div>
			<div class="misc-field">
				<div class="field-label">Personality Type</div>
				<div class="field-value"><%= @user.personality || "Not added" %></div>
			</div>
			<div class="misc-field">
				<div class="field-label">Favorite Book</div>
				<div class="field-value"><%= @user.favorite_book || "Not added" %></div>
			</div>
			<div class="misc-field">
				<div class="field-label">Favorite Book</div>
				<div class="field-value"><%= @user.favorite_movie || "Not added" %></div>
			</div>
			<div class="misc-field">
				<div class="field-label">Education</div>
				<div class="field-value"><%= @user.education || "Not added" %></div>
			</div>
		</div>

	</div>

		<div id="helpfulness-label">HELPFULNESS RATING</div>
		<div id="star-container">
			<% if @user.rate_count > 3 %>
				<% @user.rating.times do %>
					<%= image_tag 'stargreen.svg', :class => "star" %> 
				<% end %>
				<% (5 - @user.rating).times do %>
					<%= image_tag 'stargray.svg', :class => "star" %> 
				<% end %>
			<% else %>
				<% 5.times do %>
					<%= image_tag 'stargray.svg', :class => "star" %> 
				<% end %>
			<% end %>
			</div>

		<% if @user.followed_by current_user %>
			<%= link_to follow_path(@user), :class => "follow-link unfollow", remote: true do %>
				<div class="user-action">UNFOLLOW</div>
			<% end %>
		<% else %>
			<%= link_to follow_path(@user), :class => "follow-link follow", remote: true do %>
			<div class="user-action">+ FOLLOW</div>
			<% end %>
		<% end %>
		
		<%= link_to conversations_path(send_to: @user.id ) do %>
			<div class="user-action">
				MESSAGE
			</div>
		<% end %>


		<div id="meetings-count-box" class="meeting-request">
			Request a Meeting
		</div>
		<div class="field-header availability">
			Availability
		</div>
		
		<div class="field-row availability">
			<% ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"].each do |day| %>
				<div class="time-block">
					<div class="day"><%= day %></div>
					<div class="time-value"><%= @user.send(day[0..2].downcase.to_sym) || "Unknown" %></div>
				</div>
			<% end %>
		</div>

</div>

<%= render partial: "meetings/meetings_modal.html.erb", locals: {user: @user, meeting: @meeting} %>



