<% if !@mobile  %>
	<%= image_tag "dlandingbg.png", id: "landing-pic" %>
<% end %>
<div class="landing-section white main">
	<%= image_tag "logo.svg", id: "landing-logo" %>
	<div id="logo-title">FLEDGG</div>
	<div id="logo-text">Connect with Entrepreneurs and Mentors globally.</div>
		<div class="sign-up-box">
			<a href="/auth/linkedin">
				<%= image_tag "linkedin.svg", :class => "linkedin-svg" %>
				<div class="li-sign-up-btn">	
					<div class="sign-up-text">SIGN UP WITH LINKEDIN</div>
				</div>
			</a>
		</div>
	
</div>

<div class="landing-section two">
	<div class="section-header2">ANYONE, ANYTIME, ANYWHERE</div>
	<div class="section-content">
		
		<div class="section-block first">
			<div class="block-text">MATCH</div>
			<%= image_tag "match.png", :class => "block-image" %>
			<div class="block-info">
				Find or become a mentor, give back to the entrepreneurial community.
			</div>
		</div>
		<div class="section-block">
			<div class="block-text">CONNECT</div>
			<%= image_tag "connect.png", :class => "block-image" %>
			<div class="block-info">
				Stay connected with people you have mentored and havebeen mentored by. Grow together.
			</div>
		</div>
		<div class="section-block">
			<div class="block-text">SHARE</div>
			<%= image_tag "share.png", :class => "block-image" %>
			<div class="block-info">
				Keep people updated, share your ideas, knowledge, passion, inspiration, and progress.
			</div>
		</div>
	</div>
</div>

<div class="landing-section three">
	THE BEST TOOL FOR CONNECTING WITH MENTORS EVER
</div>

<div class="landing-section four">
	<%= image_tag 'people.jpg', :class => "people-image" %>
	<div class="section-header">WHY FLEDGG?</div>
	<div class="section-content">
		
		<div class="section-block">
			<div class="block-text">ACCESSIBILITY</div>
			<div class="block-info">
				Anyone can join anytime with no threshold for entrepreneurs or mentors.
			</div>
		</div>
		<div class="section-block">
			<div class="block-text">TRANSPARENCY</div>
			<div class="block-info">
				Anyone can contact anyone else and know the latest information about each other.
			</div>
		</div>
		<div class="section-block">
			<div class="block-text">TRUSTWORTHINESS</div>
			<div class="block-info">
				Build trust and credibility over time through our rating system. Help peolple stay connected and informed.
			</div>
		</div>
	</div>
</div>

<div class="landing-section five">
	<div class="section-content">
		<div class="team-container">
            <div class="section-header2">MEET THE TEAM</div>
			<div class="member">
				<%= image_tag "vicky.jpg", :class => "member-pic" %>
				<div class="member-name">Vicky Zhang</div>
				<div class="member-title">Founder and CEO</div>
			</div>
			<div class="member">
				<%= image_tag "adam.jpg", :class => "member-pic" %>
				<div class="member-name">Adam Bruce</div>
				<div class="member-title">Advisory CTO</div>
			</div>
			<div class="member">
				<%= image_tag "tim.jpg", :class => "member-pic" %>
				<div class="member-name">Tim Draper</div>
				<div class="member-title">Investor</div>
			</div>
			<div class="member">
				<%= image_tag "tom.jpg", :class => "member-pic" %>
				<div class="member-name">Tom Kosnik</div>
				<div class="member-title">Advisory CMO</div>
			</div>
		</div>
	</div>
</div>

<div class="landing-section six">
	<%= form_tag feedback_path, id: "feedback-form" do %>
        <div class="feedback-title">
			Have any feedback? We'd love to hear from you!
		</div>
		<%= text_field_tag :title,nil,id: "feedback-title", placeholder: "Name" %>
		<%= text_field_tag :email ,nil,id: "feedback-email", placeholder: "Email" %>
		<%= text_area_tag :body,nil,id: "feedback-body", placeholder: "Feedback" %>
		<%= submit_tag "Submit", id: "send-feedback" %>
	<% end %>
	<div id="site-copy-container">
		<div class="copy-link">
			About
		</div>
		<div class="copy-link">
			Terms & Privacy
		</div>
		<div class="copy-link">
			Contact
		</div>
		<div class="copy-link">
			Help
		</div>
	</div>
</div>
