<!DOCTYPE html>
<html>
<head>
  <title>Fledgg</title>
  <meta name="google-site-verification" content="tuRQ2VBjnMBL2Ebg3DQ2hNm2oOJIg12wXs5HD--L1gM" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="//use.typekit.net/mdx8vro.js"></script>
  <%= csrf_meta_tags %>
</head>
<script src="//use.typekit.net/mdx8vro.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

<body class="<%= 'mobile' if @mobile %>">

<% if @current_meeting %>
	<div id="current-meeting">
		<div class="current-meeting-header">
			You are meeting with
		</div>
		<% user = @current_meeting.other_user(current_user.id) %>
		<%= image_tag user.profile_pic_url, :class => "current-meeting-pic" %>
		<div class="current-meeting-name">
			<%= user.name %>
		</div>
		<div class="current-meeting-date">
			on <%= @current_meeting.date %>
		</div>
		<div class="current-meeting-btn">
			Okay
		</div>
	</div>
<% end %>
<%= yield %>

</body>
</html>
